#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-frame {
  overflow: hidden;
  position: relative;
}

.button, .button:focus {
  outline: none;
  position: absolute;
  width: 3vw;
  top: 47%;
  bottom: 47%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: solid 1px darkslategrey;
  z-index: 1;
}

.profile {
  background-color: paleturquoise;
  color: darkslategrey;
  display: inline-block;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  border: solid 4px darkslategrey;
}

.profile > h3 {
  text-align: center;
  font-size: 2em;
  margin: 10px;
  font-family: Calibri, Helvetica, sans-serif;
}